.popover-overlay{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popover-overlay .popover-container{
    width: 500px;
    height: 400px;
    position: relative;
    top: 20%;
    margin: 0 auto;
    background-color: #fff;
}

.popover-overlay .popover-container .popover-content{
    height: calc(100% - 40px);   
}

.popover-overlay .popover-container .popover-header{
    display: flex;
    align-items: center;
    height: 40px;
}

.popover-overlay .popover-container .popover-header .close-button{
    width: 30px;
}

.popover-overlay .popover-container .popover-header h2{
    width: calc(100% - 30px);
}